---
import "../styles/global.css";
import { SITE } from "../config/site";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
}

const { title, description, image } = Astro.props;

const pageTitle = title
  ? `${title} | ${SITE.title}`
  : SITE.title;

const pageDescription = description || SITE.description;

const ogType = Astro.props.type || "website";
const canonicalURL = new URL(Astro.url.pathname, SITE.url).toString();
const ogImage = image
  ? new URL(image, SITE.url).toString()
  : `${SITE.url}/og-default.png`;
---

<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />

    <link rel="canonical" href={canonicalURL} />

    <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed"
    href="/rss.xml"
    />

    <!-- Open Graph -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:locale" content={SITE.locale} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={ogImage} />
  </head>

  <body>
    <div class="page-wrapper">

      <header class="site-header">
        <div class="header-inner">
          <a href="/" class="logo">Ömer</a>

         <nav class="nav-right">
          <button id="theme-toggle" class="theme-toggle">Aydınlık</button>
          <a href="/">Blog</a>
          </nav>
        </div>
      </header>

      <main class="site-main">
        <slot />
      </main>

      <footer class="site-footer">
        <p>© {new Date().getFullYear()} Ömer</p>
      </footer>
    </div>

<script>
  const toggleBtn = document.getElementById("theme-toggle");
  const root = document.documentElement;

  // Sayfa yüklenince kayıtlı temayı kontrol et
  if (localStorage.getItem("theme") === "dark") {
    root.classList.add("dark");
    toggleBtn.textContent = "Karanlık";
  }

  toggleBtn.addEventListener("click", () => {
    root.classList.toggle("dark");

    if (root.classList.contains("dark")) {
      toggleBtn.textContent = "Karanlık";
      localStorage.setItem("theme", "dark");
    } else {
      toggleBtn.textContent = "Aydınlık";
      localStorage.setItem("theme", "light");
    }
  });
</script>
  </body>
</html>